<h2>All my birds</h2>

<% birds.forEach( b => { %>
    <div class="card gray lighten-1 white-text">
        <div class="card-title">
            <%= b.name %> (<%= b.scientific_name %>)
        </div>
        <div class="card-panel">
            <%= b.notes %>
            <hr>
            Seen in <%= b.location %> on <%= moment(b.createdAt).calendar() %>
        </div>
    </div>
<% }); %>